In [5]:
import pandas as pd

In [32]:
datos = pd.read_csv('Informacion academica csv.csv', engine='python', index_col=0)

In [29]:
datosDummyFirstName = pd.get_dummies(datos['FirstName'], prefix="FirstName")
datosDummyLastName = pd.get_dummies(datos['LastName'], prefix="LastName")
datosDummyNotas = pd.get_dummies(datos['Notas'], prefix="Notas")

In [34]:
datos = pd.concat([datos, datosDummyFirstName], axis = 1)
datos = pd.concat([datos, datosDummyLastName], axis = 1)
datos = pd.concat([datos, datosDummyNotas], axis = 1)

In [35]:
datos

,FirstName,LastName,Notas,FirstName_Anthony,FirstName_Brigid,FirstName_Catherine,FirstName_Christopher,FirstName_Cory,FirstName_David,FirstName_Donald,...,Notas_52,Notas_64,Notas_65,Notas_67,Notas_70,Notas_71,Notas_80,Notas_82,Notas_90,Notas_100
CustomerID,,,,,,,,,,,,,,,,,,,,,
29485,Catherine,Abel,90,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
29531,Cory,Booth,65,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
29546,Christopher,Beck,100,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
29568,Donald,Blanton,30,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
29584,Walter,Brian,80,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
29612,Richard,Byham,40,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29638,Rosmarie,Carroll,64,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
29644,Brigid,Cavendish,82,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29653,Pei,Chow,52,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
29660,Anthony,Chor,38,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29736,Terry,Eminhizer,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29741,Janeth,Esteves,67,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
29781,Guy,Gilbert,70,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
29796,Jon,Grande,80,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
29847,David,Hodgson,71,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0