In [2]:
import pandas as pd

In [5]:
datos = pd.read_json('Informacion academica json.json')

In [6]:
datos

    CustomerID     FirstName      LastName  Notas
0        29877         Joyce        Jarvis     65
1        29922        Pamala          Kotc     10
2        29929       Jeffrey         Kurtz    100
3        29932       Rebecca        Laszlo     33
4        29938         Frank      Campbell     69
5        29957         Kevin           Liu     76
6        29975        Walter          Mays     89
7        29982       Melissa        Marple     97
8        30019       Matthew        Miller     48
9        30025         Linda      Mitchell     89
10       30027        Joseph       Mitzner      0
11       30033        Vassar         Stern     45
12       30050       Krishna  Sunkammurali     68
13       30072        Andrea       Thomsen     49
14       30089  Michael John        Troyer     40
15       30102         Roger    Van Houten     66